@font-face {
  font-family: 'Body';
  src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

body {
  font-family: 'Body', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-spinners {
  -moz-appearance: textfield;
  appearance: textfield;
}
