@font-face {
  font-family: 'Heading';
  src: url('../assets/fonts/GT-Super-Display-Regular-Trial.otf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Body';
  src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Marcellus';
  src: url('../assets/fonts/Marcellus-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
  font-family: 'Body', sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 1rem;
}
/* Chrome, Safari, Edge, Opera */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-spinners {
  -moz-appearance: textfield;
  appearance: textfield;
}

.list__item--hidden,
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
