@use 'custom' as *;
// Button
.btn {
  // Common styles for all buttons
  cursor: pointer;
  @extend .bdr-rd-s;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  &.primary {
    @extend .bg-pri;
    color: $white;
  }

  &.secondary {
    @extend .bg-sec;
    color: $white;
  }

  &.tertiary {
    @extend .bg-ter;
    color: $white;
  }

  &.small {
    @extend .py-xs;
    @extend .px-s;
    @extend .fs-s;
  }

  &.medium {
    @extend .py-s;
    @extend .px-m;
    @extend .fs-m;
  }

  &.large {
    @extend .py-m;
    @extend .px-l;
    @extend .fs-l;
  }

  &.xlarge {
    @extend .py-l;
    @extend .px-xl;
    @extend .fs-l;
  }
}
