$border-zero: false;
$primary: #00bfb3;
$secondary: #023436;
$tertiary: #e6f9f7;
$primary-light: #f4fffe;

$base-size: 10px;
$base-line-height: 1.5;
$body-bg: #fff;

@import '../../node_modules/sassay/scss/sassay.base.scss';
