@use 'custom' as *;

.demo__section {
  .demo__hero {
    height: 60vh;
    overflow: hidden;
    background-image: url('../assets/images/demo.webp');
    background-size: cover;
    background-position: center;
  }
  .form__container {
    box-shadow: 0 0 2px #374151;
    padding: 1em 2rem;
    max-width: 400px;
  }
}

.txt-red {
  color: red;
}
