.feature__hero {
  height: 60vh;
  overflow: hidden;
  background-image: url('../assets/images/feature-hero.webp');
  background-size: cover;
  background-position: center;
  .hero__img {
    max-width: 100%;
  }
}
