@use 'custom' as *;

.hero__section {
  padding: 9.6rem 0 9.6rem 0;
  background-color: $primary-light;
  overflow: hidden;
  .hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2.4rem;
    gap: 6rem;

    .hero__content {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 1.4rem;

      .hero__title {
        font-family: Heading;
        letter-spacing: 1px;
        line-height: 1.1;

        span {
          color: $primary;
        }
      }

      .hero__button {
        margin-top: 3rem;
      }
    }

    .hero__image {
      width: 100%;
      img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 100%;
      }
    }
  }
}

.home__heading {
  font-weight: 400;
  font-size: 1.4rem;
}
.section {
  transition:
    transform 1s,
    opacity 1s;
}

// media query

@media (max-width: 992px) {
  html {
    font-size: 80%;
  }

  .before__after__card__container {
    flex-direction: column;
    gap: 2rem;
  }
  .before__after__card {
    .before__after__card__content {
      .content__header {
        p {
          font-size: 3rem;
        }
      }

      .card__points {
        font-size: 1.4rem;
      }
    }
  }

  .hero__section {
    .hero__container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;

      .hero__image {
        margin: 0 auto;
        width: 80%;
      }

      .hero__content {
        text-align: center;
        align-items: center;
        gap: 1.2rem;
      }
    }
  }
  .section__header {
    p {
      font-size: 2.4rem;
    }
  }
  .home__feature {
    .content__feature {
      flex-direction: column !important;
      gap: 2rem;

      .content__image {
        flex-direction: column !important;
        div {
          flex-direction: row !important;
        }
      }
    }
  }

  .home__industry--content {
    div:nth-child(odd) {
      div {
        flex-direction: column;
      }
    }
    div:nth-child(even) {
      div {
        flex-direction: column-reverse;
      }
    }
  }
  .feature__list,
  .industry__list {
    div {
      gap: 5rem;
    }
    div:nth-child(even) {
      flex-direction: column;
    }
    div:nth-child(odd) {
      flex-direction: column-reverse;
    }
  }
  .pricing {
    &__heading {
      text-align: center;
    }
    .pricing__cards {
      flex-direction: column;
    }
  }

  .about__content {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .before__after__card {
    .before__after__card__content {
      padding: auto;
      .content__header {
        p {
          font-size: 2rem;
        }
      }

      .card__points {
        font-size: 1.2rem;
      }
    }
  }

  .about__content {
    padding: 3rem 0 !important;
  }
}

@media (max-width: 576px) {
}
