@use 'custom' as *;

.pricing__section {
  overflow: hidden;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($primary, 0.2),
  //     rgba($primary, 0.2)
  //   ),
  //   url(../assets/images/check.webp);
  // background-size: cover;
  // background-position: top;
  padding-top: 4.8rem;
  .pricing__cards {
    display: flex;
    gap: 4rem;
  }
  .pricing {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-bottom: 4.8rem;
    &__heading {
      gap: 1rem;
      align-items: center;
      color: $secondary;
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: -1px;
      }
      p {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
